<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/roboto.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/socket.io-1.2.0.js"></script>


    <div class="container">
        {{{body}}}
    </div>

    <footer>
        <div class="container"><a href="https://satisfy-miniu.openode.io/">Miniu est contente</a> / Zero JL 2021 / bootstrap / express / socketio / website hosted by <a href="https://www.openode.io/">opeNode</a> / database hosted by <a href="https://supabase.io/">supabase</a> / effect by <a href="https://github.com/crashmax-dev/fireworks-js/">fireworks-js</a> / stories by Zero</div>
    </footer>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>