<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Accueil</a>
</nav>

<br>
<h1 id="miniu-est-contente">Miniu est contente</h1>
<p><em>petites promenades en enfer</em></p>
<h2 id="vue-d-ensemble">Vue d&#39;ensemble</h2>
<p><strong>Miniu est contente</strong> est un jeu de labyrinthes textuels multijoueurs en ligne. Si vous aimez les labyrinthes et les textuels, ce jeu est pour vous. Massivement.</p>
<h3 id="but-du-jeu">But du jeu</h3>
<p>Le but du jeu, dans <strong>Miniu est contente</strong>, est de terminer le jeu. Non en fait ça dépend des univers. Ah oui au fait : il y a des univers.</p>
<h3 id="les-univers">Les univers</h3>
<p>Les univers sont de petites histoires autonomes, comme des petits labyrinthes de poche mais en super-dur et qu&#39;on fait seul ou en groupe jusqu&#39;à ce que mort s&#39;ensuive. Encore et encore. Quand vous en avez assez, vous pouvez créer vous-même des univers, et les publier sur notre site pour que d&#39;autres joueurs s&#39;y frottent ou s&#39;y piquent. C&#39;est même (limite) plus drôle de <em>créer des univers</em> que de les résoudre. Enfin sauf si vous aimez les labyrinthes textuels hein, on n&#39;est pas là pour juger. Chacun son truc après tout.</p>
<p>Par contre pour accéder à la section &quot;auteurs&quot; du site, vous devrez d&#39;abord terminer le premier univers, qui s&#39;appelle (attendez la suite)... <em>Miniu est contente !</em> </p>
<p>Ensuite chaque univers résolu vous ouvrira la porte à d&#39;autres univers, et ainsi de suite. Sympa non ?<br>Je suis sûr que vous sentez déjà le côté labyrinthique de la chose.</p>
<h3 id="mais-qui-est-miniu-cendre-">Mais qui est Miniu ?</h3>
<p>Miniu est une sorcière, farouche et fabuleuse. Elle n&#39;est pas facile à satisfaire mais si vous y parvenez, à vous les joies de la création : vous pourrez créer vos propres dédales littéraires ! Bref, en bonne taulière du Premier Univers, son rôle sera de vous déniaiser et de vous mettre, dans l&#39;ambiance.</p>
<h3 id="comment-a-marche-">Comment ça marche ?</h3>
<p>D&#39;abord il faut s&#39;inscrire avec le bouton ci-dessous, puis vous pourrez accéder aux contenus, à la documentation et au chat. Bienvenue !</p>

<div style="margin-top: 30px">
    <a class="btn btn-primary btn-lg active" href="/login">Connexion</a>
    <a class="btn btn-primary btn-lg active" href="/register">Inscription</a>
</div>